<h1>Android SDK</h1>

<div *ngIf="updating; else list" fxLayout="column" fxLayoutAlign=" center">
  <md-spinner></md-spinner>
  <h1>Loading...</h1>
</div>

<ng-template #list>
  <md-card style="margin: 16px;">
    <md-list>
      <div *ngFor="let category of packages | groupBy: 'category'">
        <h2>{{category.key}}</h2>
        <md-table [dataSource]="createDataSource(category.value)" mdSort>
          <!-- Check Column -->
          <ng-container mdColumnDef="check">
              <md-header-cell *mdHeaderCellDef fxFlex="10"></md-header-cell>
            <md-cell *mdCellDef="let e" fxFlex="10">
              <md-checkbox disabled [checked]="e.state === InstallState.Installed"></md-checkbox>
            </md-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container mdColumnDef="name">
            <md-header-cell md-sort-header *mdHeaderCellDef fxFlex="70">Name</md-header-cell>
            <md-cell *mdCellDef="let e" fxFlex="70">{{e.name}}</md-cell>
          </ng-container>
           <!-- Version Column -->
           <ng-container mdColumnDef="version">
            <md-header-cell *mdHeaderCellDef fxFlex="10">Version</md-header-cell>
            <md-cell *mdCellDef="let e" fxFlex="10">{{e.version}}</md-cell>
          </ng-container>
          <!-- State Column -->
          <ng-container mdColumnDef="state">
            <md-header-cell *mdHeaderCellDef fxFlex="10"></md-header-cell>
            <md-cell *mdCellDef="let e" fxFlex="10" style="text-align: center;">
              <ng-container *ngIf="e.state === InstallState.Installed; else b">{{e.state}}</ng-container>
              <ng-template #b><button (click)="install(e)" md-button color="accent">Install</button></ng-template>
            </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </div>
    </md-list>
  </md-card>
</ng-template>
