<div *ngIf="updating; else list" fxLayout="column" fxLayoutAlign=" center">
  <md-spinner></md-spinner>
  <h1>読み込み中...</h1>
</div>

<ng-template #list>
  <md-card style="margin: 16px">
    <md-nav-list>
        <div *ngFor="let category of packages | groupBy: 'category'">
          <h2>{{category.key}}</h2>
          <md-list-item *ngFor="let package of category.value" (click)="install(package)">
            <span fxFlex>{{package.name}}</span>
            <span>{{package.version}}</span>
            <span>{{package.state}}</span>
          </md-list-item>
        </div>
      </md-nav-list>
  </md-card>
</ng-template>
